<!DOCTYPE html>
<html ng-app="angular-rails-example">
<head>
  <base href="/" />
  <title>AngularRailsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" ng-view></div>
</body>
</html>
